@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "components/variables";
@import "components/reset";
@import "components/header";
@import "components/about";
@import "components/features";
@import "components/extension";
@import "components/faq";
@import "components/email-signup";
@import "components/footer";
@import "./components/overlay";

body {
    background-color: #fff;
    font-size: 1.8rem;
    font-family: $ff;
    position: relative;
}

main {
    margin-top: 2em;
}