#faq {
  margin-top: 20rem;
  font-size: 1.5rem;
  color: $Very-dark-blue;
  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  p {
    text-align: center;
    width: 420px;
    margin: 2rem auto 4rem;
    color: $grayish-blue;
    line-height: 1.5;
  }

  .faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(6) .question {
      border-bottom: 1px solid $grayish-blue;
    }
    .question {
      display: flex;
      border-top: 1px solid $grayish-blue;
      flex-direction: column;
      width: 500px;

      .question-title {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 10px 1.5rem 0;

        &:hover p {
          color: $soft-red;
          cursor: pointer;
        }

        p {
          text-align: unset;
          width: unset;
          margin: unset;
          color: $Very-dark-blue;
          font-weight: 500;
        }
        .question-btn {
          border: none;
          background-color: white;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .answer {
        margin: unset;
        text-align: left;
        margin: 1rem 0 2rem;
        line-height: 2em;
        width: 100%;
      }
    }
  }
  .btn {
    font-size: 1.1rem;
    display: block;
    margin: 4rem auto 0;
    padding: 12px 20px;
    border-radius: 5px;
  }
  @media (max-width: 450px) {
    h2 {
      width: 250px;
      margin: 0 auto;
    }
    p {
      margin: 1.5rem auto 3rem;
      width: 300px;
    }
    .faqs {
      &:nth-child(3) .question {
        border-top: none;
      }
      .question {
        width: 350px;
      }
    }
  }
}

.answer {
  margin: unset;
  display: none;
  text-align: left;
}

button {
  .arrow-up {
    display: none;
    transform: rotate(180deg);
    transform-origin: center;
    stroke: $soft-red;
    // overflow: visible;
  }
}

.question.show-answer {
  button {
    .arrow-up {
      display: block;
    }

    .arrow-down {
      display: none;
    }
  }
  .answer {
    display: block;
  }
}
