#features {
  font-size: 1.5rem;
  margin: 4rem 0 0;
  h2 {
    text-align: center;
    color: $Very-dark-blue;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  p {
    text-align: center;
    color: $grayish-blue;
    width: 450px;
    margin: 0 auto 2rem;
    line-height: 1.5;
  }
  .features {
    width: 600px;
    margin: 5rem auto 2.5rem;

    ul {
      margin: 1em 1em 1em;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $grayish-blue;
      padding-bottom: 12px;
      gap: 10px;
      position: relative;
      li {
        position: relative;
        color: $grayish-blue;
        padding: 0 1.5em 1rem;
        transition: all 0.3s;
        &.active {
          color: $Very-dark-blue;
          font-weight: 500;
        }
        &:hover {
          color: $soft-red;
          cursor: pointer;
          font-weight: 500;
        }
        &.active::after {
          content: "";
          position: absolute;
          border-bottom: 2px solid $soft-red;
          width: 100%;
          top: 38px;
          left: 0;
        }
      }
    }
  }
  .features-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    overflow: hidden;
    height: 500px;
    .feature-illustration {
      position: relative;
      img {
        z-index: 1;
        display: block;
        width: 500px;
        transform: translateX(30px);
      }
      .bg-color {
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
        background-color: hsl(231, 69%, 60%);
        position: absolute;
        width: 600px;
        height: 300px;
        bottom: -70px;
        left: -150px;
        z-index: -10;
      }
    }
    .feature-details {
      h2 {
        text-align: left;
      }
      p {
        width: 370px;
        text-align: left;
      }
      .btn {
        margin-top: 1rem;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: "800px") {
    margin: 6rem 0;
    p {
      text-align: center;
      margin-top: 1rem;
    }
    .features-details {
      grid-template-columns: repeat(1, 1fr);
      gap: 5rem;
      height: unset;
      justify-items: unset;
      .feature-illustration {
        margin-top: 5rem;
        .bg-color {
          height: 280px;
          bottom: -30px;
        }
      }
      .feature-details {
        p {
          text-align: center;
        }
        h2 {
          text-align: center;
          margin: 0;
        }
      }
      .btn {
        display: block;
        margin: 1rem auto;
      }
    }
  }

  @media (max-width: "450px") {
    p {
      width: 310px;
    }
    .features {
      width: unset;
      ul {
        flex-direction: column;
        border: none;
        gap: 0;
        li {
          border-bottom: 1px solid $grayish-blue;
          text-align: center;
          padding: 1.5rem 0;
          &.active::after {
            width: 50%;
            margin: 0 auto;
            top: unset;
            bottom: 0;
            left: 50px;
            right: 50px;
          }
          &:first-child {
            border-top: 1px solid $grayish-blue;
          }
        }
      }
    }
    .features-details {
      .feature-illustration {
        img {
          transform: translateX(30px);
          width: 300px;
        }

        .bg-color {
          width: 450px;
          height: 200px;
        }
      }
    }
  }
}
